body {
  text-align: center;
  font-family: 'Shadows Into Light', helvetica;
  background: black;
  color: white;
  margin: 50px;
}

button {
  font-size: 28px;
  border-radius: 5px;
  padding: 10px;
  color: white;
  background: black;
}

h1 {
  font-size: 50px;
}

.chart {
  display: none;
}

@media screen and (max-width: 800px) {
  body {
    margin: 10px 20px;
  }

  h1 {
    font-size: 20px;
  } 

  button {
    font-size: 20px;
  }

} 